/* ****************** Estilização dos TAB PILLs ****************/

::ng-deep a {
  color: #17a3b8;
}

::ng-deep a:hover {
  color: #138496;
}

::ng-deep .nav-fill .nav-link.active {
  margin-top: -1px;
  border-top: 2px solid #17a3b8;
}

::ng-deep .nav-pills .nav-link.active,
::ng-deep .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #17a3b8;
}


/* ****************** Estilização dos ACCORDIONS ****************/

::ng-deep ngb-accordion .btn-link{
    margin-bottom: 0;
    color: #656565;
    font-size: 1.2rem;
    font-weight: normal;
    background-color: transparent;
    text-decoration: none!important;
}
::ng-deep ngb-accordion .btn-link:hover{
    color: #138496;
    font-weight: bold;
    text-decoration: none!important;
}


/********** Botão flutuante *************/
.floating-button {
  right: 15px;
  bottom: 15px;
  position: fixed;
  z-index: 1;
}

/*********** Ponteiro do Mouse **********/
.mouse-pointer {
  cursor: pointer;
}

.negrito:hover {
  font-weight: bold !important;
  color: #138496 !important;
}

.negritored:hover {
  font-weight: bold !important;
  color: #a73838 !important;
}

.ativo {
  font-weight: bold !important;
  color: #17a3b8 !important;
}

.inativo {
  font-weight: bold !important;
  color: #a73838 !important;
}
