<header>
  <nav class="navbar navbar-light bg-info">
      <a class="navbar-brand text-white mouse-pointer" (click)="recarregar()">
        <h3>
          EletroStore
        </h3>
      </a>
      <form class="form-inline">
          <span class="navbar-text text-white">
            <h5>
              {{login.name}}
            </h5>
          </span>
          &nbsp;
          &nbsp;
          <a *ngIf="!login.admin" class="text-white mouse-pointer" ngbTooltip="Seu carrinho"
            (click)="modalCarrinho()">
              <i class="material-icons">shopping_cart</i>
          </a>
          &nbsp;
          &nbsp;
          <div class="row">
            <div class="col">
              <div ngbDropdown display="dynamic" class="d-inline-block">
                <b><a class="text-white mouse-pointer" id="dropdownBasic1" ngbDropdownToggle></a></b>

                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="border border-info rounded">
                  <h5 *ngIf="login.admin" ngbDropdownItem class="text-info"> admin: {{login.name}}</h5>
                  <h5 *ngIf="!login.admin" ngbDropDownItem class="text-info"> Usuário: {{login.name}}</h5>

                  <button ngbDropdownItem (click)="modalMinhaConta(login._id)">Minha conta</button>
                  <button ngbDropdownItem (click)="logout()">Logout</button>
                </div>
              </div>
            </div>
          </div>
      </form>
  </nav>
</header>


<body class="container">
  <br><br>

  <!--Área do cliente-->
  <div *ngIf="!login.admin">
    <form class="form-row">
      <div class="form-group col-9">
        <input type="text" name="busca" [(ngModel)]="busca" class="form-control">
      </div>
      <div class="form-group col-3">
        <button (click)="search('p', busca)" class="btn btn-outline-info">Buscar</button>
    </div>
    </form>

    <br><br>

    <div>
      <div class="row">
        <span *ngFor="let produto of produtos" class="col text-center">
            <a routerLink="/detail/{{produto._id}}" class="text-secondary negrito">
              <img src="{{produto.imageUrl}}" width="300" height="200" class="rounded"><br>
                <span>{{produto.name}}</span><br>
                <span class="text-info"><b>R${{produto.price | number:".2"}}</b></span>
            </a>
            <br><br>
        </span>
      </div>
    </div>
  </div>

  <!--Área do administrador-->
  <div *ngIf="login.admin">
    <ngb-tabset type="pills" justify="center" class="bg-info">

      <!-- SESSÃO DE PRODUTOS -->
      <ngb-tab title="Produtos">
        <ng-template ngbTabContent>
          <br>

          <form class="form-row">
              <div class="form-group col-9">
                <input type="text" name="busca" [(ngModel)]="busca" class="form-control">
              </div>
              <div class="form-group col-3">
                <button (click)="search('p', busca)" class="btn btn-outline-info">Buscar</button>
              </div>
          </form>

          <br>

          <div>
            <button class="btn btn-info floating-button align-middle" (click)="modalProduto()">
              <span><i class="material-icons align-middle">add</i></span>
              Novo Produto
            </button>
          </div>

          <div>
            <div class="row">
              <span *ngFor="let produto of produtos" class="col text-center">
                <a routerLink="/detail/{{produto._id}}" class="text-secondary"
                [class.negritored]="produto.disabled" [class.negrito]="!produto.disabled">
                  <img src="{{produto.imageUrl}}" width="300" height="200" class="rounded"><br>
                    <span>{{produto.name}}</span><br>
                    <span class="text-info"><b>R${{produto.price | number:".2"}}</b></span>
                </a>
                <br><br>
              </span>
            </div>
          </div>

        </ng-template>
      </ngb-tab>

      <!--SESSÃO DE CLIENTES-->
      <ngb-tab title="Clientes">
        <ng-template ngbTabContent>
          <br>

          <!--Formulário de busca-->
          <form class="form-row">
              <div class="form-group col-9">
                <input type="text" name="busca" [(ngModel)]="busca" class="form-control">
              </div>
              <div class="form-group col-3">
                <button (click)="search('c', busca)" class="btn btn-outline-info">Buscar</button>
              </div>
          </form>

          <br>

          <div>
            <div *ngFor="let cliente of clientes">
              <div class="card">
                <div class="card-header">
                  <span [class.ativo]="!cliente.disabled" [class.inativo]="cliente.disabled">
                    {{cliente.name}}
                  </span>

                  <span class="float-right">
                    <a class="text-info mouse-pointer" (click)="modalPessoa(cliente)"
                    ngbTooltip="Editar cliente">
                      <i class="material-icons">edit</i>
                    </a>

                    <a class="text-danger mouse-pointer" (click)="modalExcluir('cliente',cliente._id)"
                    ngbTooltip="Excluir cliente">
                        <i class="material-icons">close</i>
                    </a>
                  </span>

                </div>
                <div class="card-body">
                  <p><b>Email: </b>{{cliente.email}}</p>
                  <p><b>Endereço: </b>{{cliente.address}}, {{cliente.number}}</p>
                  <p><b>Cidade: </b>{{cliente.city}}</p>
                  <p><b>Bairro: </b>{{cliente.neighborhood}}</p>
                  <p><b>Estado: </b>{{cliente.state}}</p>
                  <p><b>CEP: </b>{{cliente.zipCode}}</p>
                </div>
              </div>

              <br>

            </div>

          </div>
        </ng-template>
      </ngb-tab>

      <!--SESSÃO DE VENDAS-->
      <ngb-tab title="Vendas">
        <ng-template ngbTabContent>
          <br>

          <!--Formulário de busca-->
          <form class="form-row">
              <div class="form-group col-9">
                <input type="text" name="busca" [(ngModel)]="busca" class="form-control">
              </div>
              <div class="form-group col-3">
                <button (click)="search('v', busca)" class="btn btn-outline-info">Buscar</button>
              </div>
          </form>

          <div>
            <button class="btn btn-info floating-button align-middle" (click)="limparVendas()">
              <span><i class="material-icons align-middle">delete</i></span>
              Limpar histórico
            </button>
          </div>

          <br>

          <div>
            <div *ngFor="let venda of vendas">

              <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                <ngb-panel [title]="venda.customer.name" class="text-info">
                  <ng-template ngbPanelContent>
                    <span *ngFor="let produto of venda.products">
                      <p><b>Produto: </b>{{produto.product.name}}</p>
                      <p><img src="{{produto.product.imageUrl}}" class="rounded" width="100"></p>
                      <p><b>Quantidade: </b>{{produto.quantity}}</p>
                      <br>
                    </span>
                    <p><b>Preço total: </b>R${{venda.totalPrice | number: ".2" }}</p>
                    <p><b>Data: </b>{{venda.date | date: 'dd/MM/yyyy'}}</p>
                  </ng-template>
                </ngb-panel>

                <ngb-panel title="" [disabled]="true">
                  <ng-template ngbPanelContent>

                  </ng-template>
                </ngb-panel>
              </ngb-accordion>

              <br>

            </div>
          </div>

        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>

</body>
